@charset "utf-8";

*{
   border: none !important;
}
/*
#principal text{
    width: 100%;
    position: relative;
    left: 10%;
}

#panelPrincipal{
    width: 100%;
    border: none !important;
}
*/
.panelResultados{
    width: 100%;
    
}

.txtInicial{
    margin-left:50px;
    
}

.textos{
    width: 80%;
    left: 80%;
}

.outColor{
    color: #ff0000;
    display: block;
}
